.bigthing{
    width: 90%;
    margin: 4rem auto;
}

.bigthing >h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #081349;
    text-align: start;
    margin: 2rem;
}

.bigthing >p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color:#081349;
    margin: 2rem;
    font-size: 1rem;
}

.bigthing > h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    text-align: start;
    margin: 2rem;
}


@media (max-width:700px ) {
    .bigthing{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .bigthing >h1{
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .bigthing >p{
         margin: 2rem 0;
         grid-column-start: 1;
        grid-column-end: 4;
    }
    .bigthing > h2 {
        font-size: 0.7rem;
        text-align: center;
        padding:1rem;
        margin: 0.5rem;
        width: 4rem;
        border-radius: 8px;
        background: #EDEFFD;
    }

}