.signIn{
 width: 100%;
 margin-bottom: 2rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.reg_header{
    width: 90vw;

    
}

.signIn__option{
    display: flex;
    width: 56vw;
    margin: auto;
    margin:1.8rem auto;

}

.signIn__container{
    margin: auto;
}


.signIn__header{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #303030;
    text-align: center;
    margin: 1rem;
    
}
.signIn__optionButton{
    height:5rem;
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;

}
.signIn__optionButton > h3{
    margin-bottom: 7px; 
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 32px;
    color: #232323;
}
.signIn__optionButton > p {
    font-size: 1.1rem;
}

.signIn__form{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form_field > input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem  ; 
    width: 40vw;
    height: 2.5rem;
    margin-top: 0.5rem;   
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.form_field >label {
    color: #303030;
    font-weight: 500;
}





.signIn__form > button{
    width: 42.2vw;
    height: 3.5rem;
    background: #132CAD;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.signIn__question > p{
    /* font-family: 'Inter'; */
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2B2A30;
    text-align: center;
}

.signIn__form > .signIn__google{
    /* font-family: 'Inter'; */
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #EA4335;
    background-color: transparent;
   
    border: 1px solid red;
    border-radius: 8px;
    cursor: pointer;
}

.signIn__form > *{
    margin-bottom: 30px;
}




@media (max-width:600px) {
    .signIn__optionButton > h3{
        font-weight: 700;
        font-size: 1rem;
        line-height: 32px;
        color: #232323;
    }
    .signIn__optionButton > p{
      display: none;
    }
    .signIn__option{
        display: flex;
        width: 90vw;
        text-align: center;
        margin: auto;
        margin:1.8rem auto;
    
    }
    .signIn__optionButton{
        height:2rem;
        width: 50%;
    
    }
    .form_field > input{
        height: 2rem;
        width: 78vw;
      
    }
    .signIn__form > button{
        width: 88.2vw;
    
    }
    .signIn__question > p{
      width: 79vw;
    }
    
   
}