.lower{
    width: 70vw;
    margin:2rem auto;
    box-shadow: 0 0 1px black;
    padding: 2rem;
    position: relative;
}

.category{
    width: 100%;
    margin: 1rem 0;
    margin-top: 1.2rem;
    display: flex;
}
.cbtn{
    width: 80%;
    margin: 0 1rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
    background-color: #ffffff;
}

.cbtn-active{
    background-color: #EDEFFD ;
}
.featured{
   
    width: 90%;
    margin: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

@media (max-width: 700px) {
    .lower{
        width: 90vw;
        padding: 0.5rem;
        box-shadow: none;
    }
    .featured{
        width: 98%;
        overflow-x: scroll;
    }
    .cbtn{
        font-size: 0.7rem;
        margin: 0 0.3rem;
      
    }
    .lower > .featured >  .projectCon{
        flex-direction: column;
        width: 90vw;
        margin: 0;
    }
    .lower > .featured >  .projectCon> .pcard >.cdetail{
        height: 12rem;
    }
    .lower > .featured >  .projectCon> .pcard > img{
        height: 13rem;
    }
    .lower > .featured >  .projectCon> .pcard{
        width: 18rem;
        height: 25rem;
        
    }
    .lower> .arrow {
        display: none;
    }

}