.welcome{
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.wallet{

}
.welcome > h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 32px;
}
.walleta{
    height: 13rem;
    background-color: #EDEFFD;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    flex: 1;
    padding: 2rem;
}


.right{
    flex: 1;
    padding: 2rem;
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap:1rem;
     align-items: center;
}

.left> h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    margin: 1rem;
    line-height: 28px;
    color: #020512;
}

.left> p{
    margin: 1rem;
    width: 90%;
    display: flex;
}
.left >p{
    color: #565560;
    width: 50%;
    margin: 0.7rem 0;

}
.left > h1{

}
.black{
    color: #000000;
}

.right{
    display: flex;
    flex-direction: column;
}
.right >button {
    width: 10rem;
    height: 2.5rem;
    background-color:#132CAD;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.right >button:nth-child(3){
    background-color: #ffffff;
    color:  #020512;
    border: 1px solid #132CAD;
}

.wallet >h2 {
    margin:2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 32px;
}

.investedproject{
    height: fit-content;
    display: flex;
    margin: 0  2rem;
     box-shadow: 0px 0px 1px black;
}
.investedproject >img {
    height: 13rem;
    flex:0.3;
}
.ipdetails{
    flex:1;
    padding:0 1rem;
}
.darkblue{
    color: #081349;
}
.green{
    color: #167000;
}



.wcon >p{
    color:#081349 ;
    font-size: 0.8rem;
}
.topde{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.topde> h4 {
    cursor: pointer;
}
.red {
    color: #DC2626;
}
.ipdetails> p{
    width: 30rem;
    font-size: 0.9rem;
    margin: 0.7rem 0;
}
.topde> h3 {
    font-size: 1.5rem;
}
.topde > p{
    font-weight: 600;
}

.topde > p> span {
    color: #132CAD;
}

.fundWallet {
    display:flex;
    border-top: 1px solid  #EDEFFD;
    padding-top: 1rem;

}

.sidebar_FW{
    flex:0.4;
    border-right: 1px solid #565560;
}
.sidebar_FW > h2 {
    font-weight: 600;
    color: #000000;
    margin: 1.4rem auto;
    text-align: center;
}

.tabs_FW {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin: 0.5rem 1rem;
    font-weight: 500;
}

.FW_main{
    flex:1;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.fundfield {
     width: 60%;
     margin: auto;
}

.fundfield > input {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.fundfield > select {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.fundfield > label {
    font-weight: 600;
    color: #000000;
    font-size: 1.3rem;
}
.field > select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem  ; 
    width: 95%;
    height: 3rem;
    margin-top: 0.5rem;   
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.doublefields {
    display:flex;
    width: 90%;
  
 
}

.doublefields > .fundfield {
    width: 44%;
   margin: 0;

}

.doublefields >.fundfield  > input{
    margin:  0;

}

.doublefields > .m{
    margin-left: 2.5rem;
}
.FW_main > button {
    height: 3rem;
    width:  87%;
    padding: 0;
    margin: 1.3rem auto ;
    margin-top: 2rem;
    background-color: #132CAD;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 600;
}

.tabs_FW_active{
    background-color: #EDEFFD;
}

@media (max-width: 700px ) {
    .walleta{
        margin-left: 0;
    }
    .right >button {
        width: 7rem;
       
    }
    .left >p{
        width: 90%;
    }
    .investedproject{
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .ipdetails >p{
        width: 70%;
    }
    .sidebar_FW{
        display: none;
    }
    .doublefields > .fundfield {
        width: 40%;
    
    }
    .FW_main > button {
       width: 90%;
    }
}