
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

.header{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    font-family: 'Inter', sans-serif;
}

.title{
    color: #020512;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;

}
.title> span {
    color: #132CAD;
 
}
.navBar{
    
}

.navBar > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.mobileNav{
    width: 90%;
    height: 50vh;
    background-color: white;
    z-index: 3;
    position: absolute;
    top:5rem;
}
.mobileNav > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.navBar > ul  > li {
    margin:0 1rem
    
}

.navBar > ul  > li  > a{
    text-decoration: none;
    color:#020512;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    
}

.mobileNav > ul  > li  > a{
    text-decoration: none;
    color:#020512;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
      
}
.mobileNav > ul  > li {
    margin: 0.7rem 0;
}


.btn{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 28px;
    margin: 0 11px;
    border: none;
    height:2.5rem;
    border-radius: 5px;
    width: 5rem;
    cursor: pointer;
    background-color: #EDEFFD;
    color: #132CAD;
}

.primary-btn{
    height: 2.7rem;
    background-color: #132CAD;
    color: #FBFBFC;
    width: 6rem;
}
.logo{
    display: flex;
    align-items: center;
   
}
.logo > a {
    text-decoration: none;
}
.bugger{
    display: none;
    cursor: pointer;
    width: 2rem;
}

@media (max-width: 1000px) {
    .bugger{
        display: flex;
    }
    .navBar{
       display: none;
    }
    .btn{
        width: 3.5rem;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 28px;
        margin: 0  5px;
    }
    .primary-btn{
        width: 4rem;
    }
    .btncontainer{
        display: none;
    }
    .header > .title{
        font-size: 1rem;
        margin-left: 1rem;
    
    }
  .title{
        font-size: 1rem  !important;
       
    
    }
    .title> span {
        font-size: 1.5rem;
     
    }
    .mobileNav > ul > .mobile {
        display: flex;
        flex-direction: column;
       width: 100%;
    }
    .mobileNav > ul > .mobile > button {
        width: 90%;
        margin-top: 0.5rem;
    }
}