.signUp{
    /* border: 4px solid green; */
    min-height: 100vh;
    /* width: 100%; */
}

.signUp__container{
    /* border: 3px solid green; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp__header{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #303030;
}

.signUp__option{
    display: flex;
    gap: 10px;
    /* border: 1px solid red; */
    margin: 3rem 0;
}

@media screen and (max-width:830px) {
    .signUp__option{
        /* display: none; */
    }
}

.signUp__option > div{
    /* border: 1px solid red; */
    /* width: 400px; */
    max-width: 25rem;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 830px) {
    .signUp__option > div{
        /* width: 250px; */
    }
}

.signUp__option > div:first-child{

}

.signUp__optionButton{
    
}
.SO_active{
    background: #EDEFFD;
}

.signUp__optionButton > h3{
    margin-bottom: 7px; 
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232323;
}

.signUp__optionButton > small{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #545454;
}

.signUp__form{
    /* border: 5px solid red; */
    min-width: 35%;
}

@media screen and (max-width: 600px) {
    .signUp__form{
    }
}


.signUp__form > *{
    /* border: 1px solid red; */
    margin-bottom: 30px;
}

.signUp__formInput > *{
    display: block;
    /* width: 97%; */
}

@media screen and (max-width: 600px) {
    /* .signUp__formInput > *{
        width: 70%;
        margin-inline: auto;
    } */
}

/* Password */
.signUp__password{
    /* border: 1px solid red; */
    position: relative;
}

.signUp__passwordIcon{
    position: absolute;
    top: 55%;
    right: 10px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    /* padding-right: 10px; */
}

.signUp__formInput{
}

.signUp__formInput > label{
    /* font-family: 'Inter'; */
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #303030;
    margin-bottom: 4px;
}

.signUp__formInput > input{
    width: 97%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px 0;
    padding-left: 1rem;
    font-size: 18px;
    /* border: 1px solid red; */
}

/* @media screen and (max-width: 500px) {
    .signUp__formInput > input{
        width: 70%;
    }
} */

.signUp__formInput > input::placeholder{
    /* padding-left: 1rem; */
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(48, 48, 48, 0.5);
}

.signUp__formButton{
    /* max-width: 590px; */
    width: 100%;
    height: 68px;
    background: #132CAD;
    border-radius: 8px;
    /* font-family: 'Inter'; */
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    /* border: 1px solid red; */
}

@media screen and (max-width: 600px) {
    .signUp__formButton{
        width: 70%;
        margin-left: 90px;
    }
}

@media screen and (max-width: 450px) {
    .signUp__formButton{
        margin-left: 0;
    }
}

.signUp__question > p{
    /* font-family: 'Inter'; */
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2B2A30;
    text-align: center;
}

.signUp__google{
    /* font-family: 'Inter'; */
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #EA4335;
    width: 100%;
    padding: 20px 0px;
    border: 1px solid red;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .signUp__google{
        width: 70%;
        /* margin-inline: auto; */
        margin-left: 90px;
    }
}

@media screen and (max-width: 450px) {
    .signUp__google{
        margin-left: 0px;
    }
}