@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

.App {
  text-align: center;
   width: 90%;
   margin: auto;
  font-family: 'Inter', sans-serif;
}



@media (max-width: 600px) {
  .App{
    padding: 0;
    width: 100%;
  }
}
